<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="userRegistVO" type="com.sandol.app.vo.UserRegistVO"/>
		<typeAlias alias="departmentVO" type="com.sandol.app.vo.DepartmentVO"/>
   		<typeAlias alias="ReceiptVO"	type="com.sandol.app.vo.ReceiptVO"/>
	</typeAliases>
	
</configuration>